html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
header {
	background-color: #17151C;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
}

/* Header */

header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #09090B;
  border-bottom: 1px solid #09090B;
}

.sidebar-header {
  position: fixed;
  width: 50%;
  z-index: 1;
  top: 0;
}

.logo {
  display: block;
  width: 134px;
  height: 26px;
  color: transparent;
  background-image: url(../img/anime-js-v2-logo-white.png);
  background-size: 134px 26px;
}

.page-title,
.demos-title {
  padding: 0 8px;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
}

.page-title,
.logo {
  opacity: .6;
}

.logo:hover {
  opacity: 1;
}

/* Sidebar */

.sidebar {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  padding-top: 60px;
  border-right: 1px solid #09090B;
}

.navigation {
  width: 200px;
  height: 100%;
  border-right: 1px solid #09090B;
}

pre {
  overflow-x: auto;
  font-family: 'Space Mono', monospace;
  line-height: 22px;
}

.code-output {
  width: 100%;
  padding: 20px 20px 20px 20px;
}

/* Demos */

article {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.demo-title {
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 23px 0;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  opacity: .7;
}

.active .demo-title {
  color: currentColor;
  opacity: 1;
}

.demo-title:before {
  position: absolute;
  content: ""
  top: 0;
  left: 20px;
  display: block;
  width: calc(100% - 40px);
  height: 1px;
  background-color: currentColor;
}

.demos {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  overflow-x: hidden;
}

.demo {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding-top: 35px;
  border-right: 1px solid #09090B;
  border-bottom: 1px solid #09090B;
  cursor: pointer;
}

.demo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.demo.active:after {
  opacity: .05;
}

.demo-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 290px;
  height: 100%;
}

.line {
  width: 100%;
  padding: 1px 0px;
}

.square {
  position: relative;
  width: 28px;
  height: 28px;
  margin: 1px;
  background-color: currentColor;
}

.small {
  width: 18px;
  height: 18px;
}

.shadow {
  position: absolute;
  opacity: .2;
}

.align-center {
  align-items: center;
}

.w-1 { width: 8.333333333%; }
.w-2 { width: 16.666666667%; }
.w-3 { width: 25%; }
.w-4 { width: 33.333333333%; }
.w-5 { width: 41.666666667%; }
.w-6 { width: 50%; }
.w-7 { width: 58.333333333%; }
.w-8 { width: 66.666666667%; }
.w-9 { width: 75%; }
.w-10 { width: 83.333333333%; }
.w-11 { width: 91.666666667%; }
.w-12 { width: 100%; }

.h-1 { height: 12.5%; }
.h-2 { height: 25%; }
.h-3 { height: 37.5%; }
.h-4 { height: 50%; }
.h-5 { height: 62.5%; }
.h-6 { height: 75%; }
.h-7 { height: 87.5%; }
.h-8 { height: 100%; }

.color-01 { color: #FF3478; }
.color-02 { color: #F96F82; }
.color-03 { color: #FEA388; }
.color-04 { color: #FED28B; }
.color-05 { color: #FBF88F; }
.color-06 { color: #D1FA9E; }
.color-07 { color: #8AFBB1; }
.color-08 { color: #7BE6D6; }
.color-09 { color: #67AAFB; }
.color-10 { color: #4E7EFC; }
.color-11 { color: #957FFD; }
.color-12 { color: #C987FE; }
