html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
header {
	background-color: #17151C;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/* Header */

header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #09090B;
}

.logo {
  display: block;
  width: 156px;
  height: 26px;
  color: transparent;
  background-image: url(../img/anime-js-v2-logo-white.png);
  background-size: 156px 26px;
}

h2 {
  padding: 0 8px;
  font-size: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
}

h2,
.logo {
  opacity: .6;
}

.logo:hover {
  opacity: 1;
}

/* Panes */

.pane {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

/* Sidebar */

.sidebar {
  width: 240px;
  padding-top: 60px;
  border-right: 1px solid #09090B;
}

.sidebar-header {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
}

.navigation {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
}

.navigation ul {
  margin-bottom: 10px;
}

.navigation a {
  opacity: .6;
  display: block;
  padding-left: 10px;
  color: #FFF;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, currentColor 0px, transparent 1px);
  background-repeat: no-repeat;
  background-size: 1px 12px;
  background-position: 0 4px;
}

.navigation li:first-child a {
  padding-left: 0;
  background-image: none;
}

.navigation a:hover {
  color: currentColor;
}

.navigation a.active {
  opacity: 1;
  color: currentColor;
}

/* Code */

.code-examples {
  width: 50%;
  flex-direction: column;
  border-left: 1px solid #09090B;
}

.code-pane {
  position: relative;
  border-bottom: 1px solid #09090B;
}

.code-pane-js {
  height: 66%;
}

.code-pane-html {
  height: 34%;
}

.code-header {
  position: absolute;
  top: 0;
}

pre {
  overflow: auto;
  font-family: 'Space Mono', monospace;
  line-height: 22px;
}

.code-output {
  width: 100%;
  height: 100%;
  padding: 80px 20px 20px 20px;
}

/* Demos */

.demos {
  overflow-y: scroll;
  width: calc(50% - 240px);
  min-width: 330px;
}

article {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.demos-title {
  opacity: 1;
}

.demo {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  padding-top: 35px;
  border-bottom: 1px solid #09090B;
  cursor: pointer;
}

.demo.active.controls {
  cursor: default;
}

.demo:before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.demo.active:before {
  opacity: .05;
}

.demo-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 290px;
  height: 100%;
}

#penner .demo-content {
  padding: 25px 0;
}

.demo-title {
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 23px 0;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFF;
  opacity: .7;
}

.active .demo-title {
  color: currentColor;
  opacity: 1;
}

.demo-title:before {
  position: absolute;
  content: ""
  top: 0;
  left: 20px;
  display: block;
  width: calc(100% - 40px);
  height: 1px;
  background-color: currentColor;
}

.line {
  width: 100%;
  padding: 1px 0px;
}

.player {
  padding-top: 20px;
}

.player button {
  padding: 5px;;
}

.player input {
  margin-left: 10px;
}

.text-output {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: currentColor;
  text-align: center;
  background-color: transparent;
  border: 1px solid currentColor;
}

input.progress {
  cursor: ew-resize;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 28px;
  height: 28px;
  margin: 1px;
  background-color: currentColor;
  font-size: 12px;
}

.small {
  width: 18px;
  height: 18px;
}

.large {
  width: 48px;
  height: 48px;
}

.stretched {
  height: 2px;
}

.shadow {
  position: absolute;
  opacity: .2;
}

.align-center {
  align-items: center;
}

.color-01 { color: #FF3478; }
.color-02 { color: #F96F82; }
.color-03 { color: #FEA388; }
.color-04 { color: #FED28B; }
.color-05 { color: #FBF88F; }
.color-06 { color: #D1FA9E; }
.color-07 { color: #8AFBB1; }
.color-08 { color: #7BE6D6; }
.color-09 { color: #67AAFB; }
.color-10 { color: #4E7EFC; }
.color-11 { color: #957FFD; }
.color-12 { color: #C987FE; }
