html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
	background: #17151C;
}

body {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

header, footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}

.page-title {
  display: block;
  padding-left: 20px;
  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
}

.demo-title {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.cells {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  top: 80px;
  bottom: 80px;
  border-top: 1px solid #09090B;
  border-left: 1px solid #09090B;
}

.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  border-right: 1px solid #09090B;
  border-bottom: 1px solid #09090B;
}

.demo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 290px;
  max-height: 180px;
  padding: 30px 0;
  flex: 1;
}

.line {
  width: 100%;
}

.el {
  width: 40px;
  height: 40px;
}

.line .el {
  width: 20px;
  height: 20px;
  margin: 1px;
}

.el.shadow {
  position: absolute;
  opacity: .2;
}

.object-data {
  width: 100%;
  border: none;
  font-size: 30px;
  font-weight: 200;
  font-family: monospace;
  text-align: left;
  background: transparent;
}

.w-01 { width: 16.666666667%; }
.w-02 { width: 33.333333333%; }
.w-03 { width: 50%; }
.w-04 { width: 66.666666667%; }
.w-05 { width: 83.333333333%; }
.w-06 { width: 100%; }

.h-01 { height: 16.666666667%; }
.h-02 { height: 33.333333333%; }
.h-03 { height: 50%; }
.h-04 { height: 66.666666667%; }
.h-05 { height: 83.333333333%; }
.h-06 { height: 100%; }

.color-01,
.color-01 input          { color: #FF3478; }
.color-01 .el { background-color: #FF3478; }
.color-02,
.color-02 input          { color: #F96F82; }
.color-02 .el { background-color: #F96F82; }
.color-03,
.color-03 input          { color: #FEA388; }
.color-03 .el { background-color: #FEA388; }
.color-04,
.color-04 input          { color: #FED28B; }
.color-04 .el { background-color: #FED28B; }
.color-05,
.color-05 input          { color: #FBF88F; }
.color-05 .el { background-color: #FBF88F; }
.color-06,
.color-06 input          { color: #D1FA9E; }
.color-06 .el { background-color: #D1FA9E; }
.color-07,
.color-07 input          { color: #8AFBB1; }
.color-07 .el { background-color: #8AFBB1; }
.color-08,
.color-08 input          { color: #7BE6D6; }
.color-08 .el { background-color: #7BE6D6; }
.color-09,
.color-09 input          { color: #67AAFB; }
.color-09 .el { background-color: #67AAFB; }
.color-10,
.color-10 input          { color: #4E7EFC; }
.color-10 .el { background-color: #4E7EFC; }
.color-11,
.color-11 input          { color: #957FFD; }
.color-11 .el { background-color: #957FFD; }
.color-12,
.color-12 input          { color: #C987FE; }
.color-12 .el { background-color: #C987FE; }
